*{
    box-sizing: border-box;
}

div{
    display: flex;
    flex-wrap: wrap;
}
script{
    display: none;
}
section{

    width: 25%;
    padding: 20px;
    border: 5px solid crimson;
    display: inline;
}

@media screen and (max-width: 960px) and (min-width: 640px) {
    section {
        width: 50%;

    }
}

@media screen and (max-width: 640px) {
    section {
        width: 100%;

    }
}