#P1{

    color: aquamarine;
    width: auto;
    font-size: 20px;
}

#P2{

    color: blue;
    width: 20%;
    font-size: 45px;
}

#P3{

    color: crimson;
    width: 50%;
    font-size: 90px;
}

#P4{

    color: aquamarine;
    width: 10%;
    font-size: 80px;
}

#P5{

    color: chocolate;
    width: 75%;
    font-size: larger;
}